.skills-container {
  padding: 20px;
  position: relative;
  background: radial-gradient(circle, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #a9b9ea, #a7b6e7, #a4b3e4, #b6bde2, #c5c7e0, #d2d2de, #dddddd);
}
.title{
  font-size: 32px;
  text-align: center;
}
.dark .title{
  color: white;
}
.dark .skills-container{
  background: linear-gradient(43deg, #161618 0%, #504b50 50%, #0f0f0e 100%);
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns by default */
  gap: 20px;
  transition: all 0.3s ease;
}

.skill-item {
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.skill-logo {
  width: 50%;
  mix-blend-mode: multiply;
  filter: contrast(3);
  height: auto;
  margin-bottom: 10px;
}
.dark .skill-logo{
  mix-blend-mode: screen;
}

.hide {
  display: none; /* Hides the grid when the expansion panel is open */
}

/* Expansion panel */
.skill-details {
  display: flex;
  width: 80%;
  height: max-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: 200;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.158);
  margin-top: 20px; /* Ensures the panel opens to the left of the grid */
}
.dark .skill-details{
  background: transparent;
}
.skill-detail-logo {
  width: 50%;
  height: auto;
}
.dark .skill-detail-logo {
  width: 50%;
  mix-blend-mode: screen;
  filter: contrast(3);
  height: auto;
}

.skill-details-content {
  flex-grow: 1;
  width: 50%;
}

.close-button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 576px) {
  .skills-grid {
    grid-template-columns: 1fr; /* One column layout for small screens */
  }

  .skill-details {
    width: 100%;
    flex-direction: column; /* Vertical expansion on small screens */
  }
}
