@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.active{
    background-color: #000000;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(circle, #ffffff, #eeedfa, #dadcf5, #c5cbf1, #acbced, #a9b9ea, #a7b6e7, #a4b3e4, #b6bde2, #c5c7e0, #d2d2de, #dddddd);
    position: sticky;
    font-family: 'Kelly Slab';
    top: 0;
    z-index: 1;
}
.dark nav{
    background: linear-gradient(43deg, #161618 0%, #504b50 50%, #0f0f0e 100%);
}
.titleandtoggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #15006A;
}
.dark nav .title{
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    color: #15006A;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.dark nav ul li a{
    color: rgb(255, 255, 255);
}
nav ul li a:not(.active):hover{
    background-color: #001c77;
    color: white;
}
 nav .hamburger{
    display: none;
    position: absolute;
    top: .75rem;
    right: .5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
 }
 img{
    width: 50px;
    object-fit: contain;
    mix-blend-mode: multiply;
 }
 .dark img{
    mix-blend-mode: screen;
 }
 img:hover
 ,.hamburger:hover{
    cursor: pointer;
 }
 nav .hamburger span{
    height: .4rem;
    width: 100%;
    background-color: rgb(0, 61, 153);
    border-radius: .2rem;
}
.dark  nav .hamburger span{
    background-color: rgb(255, 255, 255);
}
@media screen and (max-width:768px){
    nav .hamburger{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 90%;
        margin-bottom: .25rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem .5rem;
    }
    nav .hamburger.close span{
        background-color: red;
    }
    nav .hamburger.close span:nth-child(1) {
        transform: rotate(45deg) translate(0.75rem, 0.75rem);
      }
    
      nav .hamburger.close span:nth-child(2) {
        opacity: 0; /* Hide the middle bar */
      }
    
      nav .hamburger.close span:nth-child(3) {
        transform: rotate(-45deg) translate(0.35rem, -0.45rem);
      }
}